.checkerboard__container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.checkerboard {
    border: 2px solid #000;
}

.row {
    display: flex;
}

.cell {
    width: calc(1.1vw + 1.1vh);
    height:  calc(1.1vw + 1.1vh);
    border: 1px solid #000;
}

.cell:hover {
    background-color: grey;
}

.cell.wall {
    background-color: black;
}

.cell.wall:hover {
    background-color: grey;
}